.slider {
    border: 1px solid;
    position: relative;
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: white;
}

.slide {
    border: 1px solid;
    min-width: 100%;
    height: 80vh;
    transition: 0.5;
    overflow: hidden;
}
//button style
%btn-styles {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 80%;
    background: none;
    border: none;
    outline: none;
}

#goLeft {
    left: 0;
    @extend %btn-styles;
}

#goRight {
    right: 0;
    @extend %btn-styles;
}
.img-left{
    left: 0;
    width: 10vh;
    height: auto;
}
.img-right{
    right: 0;
    width: 10vh;
    height: auto;
}
//slider image styles
.slideimg{
    width: 100%;
    height: 100%;
}